body{
background-color: lightgray;
color:black;
margin: 0 auto;
max-width: 1000px;
border: 2px solid black;
  padding: 15px;
}

.icon2{
height: 100px;
width: 100px;
}
img{
wight: 325px;
height: 325px;
}


h1{
text-align: center;
}

p{
font-size: 17px;
}

footer{
text-align: center;
margin: 30px;
font-size: 14px;
color: #777;
}

a {
color: white;
background-color: rgb(0, 0, 0);
border-radius: 4px;
}
